.heading {
    width: 100%;
    font-size: 25px;
}

.img {
    width: 300px;
    height: 300px;
}
#bru {
width: 650px;
height: 500px;
}

#pas {
    width: 650px;
    height: 500px; 
}

#pizz {
    width: 650px;
    height: 500px; 
}

#pes {
    width: 650px;
    height: 500px; 
}